.Footer {
    background-color:#bb7030;
    color: white;
    padding: 2px;
    padding-bottom: 20px;
    padding-top: 1%;
}
.footerLinks{
    display: flex;
}

.footerLinks ul{
    display: flex;
    flex-direction: column;
}

.footerLinks ul li{
    margin: 4px 0;
}

.footerLinks ul li a{
    color: white;
}

.footerLinks ul li a:hover{
    color: rgb(46, 46, 46);
}
.copy {
    text-align: center;
    margin: 0;
}

footer a{
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 100;
}

footer p{
    font-weight: 600;
}

